body {
    margin: 0;
    font-family: 'Fondamento', cursive;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

#splash-screen {
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

#logo {
    height: 400px;
}

#splash-screen img:first-of-type {
    position: absolute;
    z-index: -9;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
}

.game-started {
    background-image: url(../images/assets/bkgr-rules.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

#bet-ctn {
    gap: 10px;
}

.btn-warning {
    font-size: 25px;
    width: 200px;
}

aside, label, dialog {
    font-size: 25px;
    text-shadow: 2px 2px 1px dimgrey;
    padding: 5px 10px;
    background-image: url(../images/playing-cards/card-blank-horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.money-display {
    position: relative;
    width: 90px;
}

#game-screen .ctnHidden {
    display: none;
}

#bet-screen {
    display: none;
    justify-content: center;
    align-items: center;
}

#bet-money-aside {
    position: relative;
}

#game-screen {
    display: none;
    justify-content: center;
}

#card-board {
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#player-cards {
    justify-self: flex-end;
}

#money-player-ctn {
    align-self: flex-end;
}

#dividerHidden {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 20%;
    height: 40%;
}

#btnHidden {
    display: none;
    width: 200px;
    gap: 10px;
    margin: 0;
}

#splash-screen .btn {
    width: 30vw;
}

.list-unstyled {
    gap: 15px;
}

dialog {
    display: none;
    font-size: 50px;
    width: 500px;
    height: 250;
    background-color: rgba(0,0,0,0);
    border: none;
    position: absolute;
    top: 35%;
}
