body {
    margin: 0;
    font-family: 'Fondamento', cursive;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}
figure {
    z-index: 9;
    padding: 5px;
    gap: 10px;
    position: absolute;
    top: 0;
    width: 100vw;
    color: white;
}
audio {
    width: 80px;
}

#splash-screen {
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

#logo {
    height: 400px;
}

.tavern-bkgr {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
}

#rule-one-ctn {
    position: absolute;
    display: none;
    bottom: 17%;
    right: 33%;
}

#rule-two-ctn {
    position: absolute;
    display: none;
    bottom: 17%;
    right: 33%;
    transform: rotate(-2deg);
}

#rule-two-ctn {
    transform: rotate(1deg);
}

#rule-two-ctn {
    z-index: 2;
}

#rules-screen {
    display: none;
}

.rules {
    margin-top: 20%;
}

#next-page, #back-to-splash {
    z-index: 9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    width: 70px;
}

#next-page {
    top: 240px;
    right: 150px;
}

#back-to-splash {
    top: 300px;
    right: 180px;
}

.game-started {
    background-image: url(../images/assets/bkgr-rules.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

#bet-ctn {
    gap: 10px;
}

.btn-warning {
    font-size: 25px;
    width: 200px;
}

aside, label, dialog {
    font-size: 25px;
    text-shadow: 2px 2px 1px dimgrey;
    padding: 5px 10px;
    background-image: url(../images/playing-cards/card-blank-horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.money-display {
    position: relative;
    max-width: 100px;
}

#game-screen .ctnHidden {
    display: none;
}

#bet-screen {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#game-over-screen {
    position: absolute;
    z-index: 9;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#game-over-screen img {
    z-index: -9;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#bet-money-aside {
    position: relative;
}

#game-screen {
    display: none;
    justify-content: center;
}

#card-board {
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#player-cards {
    justify-self: flex-end;
}

#money-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#dividerHidden {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 20%;
    height: 40%;
}

#hit-stand {
    display: none;
    width: 200px;
    gap: 10px;
    margin: 0;
}

.btn-splash {
    width: 30vw;
}

.list-unstyled {
    gap: 15px;
}

dialog {
    background-color: rgba(0,0,0,0);
    border: none;
    flex-direction: column;
}

#game-result {
    position: absolute;
    top: 35%;
    display: none;
    font-size: 40px;
    width: 500px;
    height: 250;
}

#game-over-box {
    position: relative;
    top: 20%;
}


